.phoneBook{ 
    position: relative;
    top: 0px;
    width: 100%;
    height: 0px;
    background-color:white;
}
.peeps{
    position: relative;
    left: 0px;
    width: 1520px;
    height: 550px;
}
.contact{
    position: relative;
    top: 5px;
    left: 220px;
    color: black;
}
.iki{
    position: absolute;
    top: 40px;
    left: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 500px;
    left: 60px;
    gap: 100px;
    cursor: pointer;
    color: white;
}
.iki h2{
   font-size: 18px;
}
.ikigai{
    position: relative;
    bottom: 8px; 
    right: 10px;
   font-size: 30px;
    color:bisque ;
    font-family: cursive;

    cursor: auto;
}

#mycontactform{
    position: relative;
    bottom: -40px;
    right: 350px;
    height: 561px;
       width: 700px;
        margin: 0 auto;
        /* padding: 20px; */
   
        border-radius: 5px;
        column-gap: 10px;
        background-color:bisque;
  }
  #typename{
    width: 300px;
    height: 40px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: white;
    position: relative;
   right: -165px;
   bottom: 5px;
  }
  .holdpeeps{
    width: 100%;
    position: relative;
  }
  .peeps-div{
    width: 100%;
    height: 400px;
  }
  .peeps-div img{
    object-fit: cover;
  }
  #typeusername{
    width: 300px;
    height: 40px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    left: 105px;
    bottom: 5px;
  }
  .homie{
    position: relative;
    bottom: 5px;

  }
  #typesecondname{
    width: 300px;
    height: 40px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    right: -165px;
    bottom: 5px;
  }
#typeemail{
    width: 300px;
    height: 40px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    right: -165px;
    bottom: 5px;
}
#typenumber{
    width: 300px;
    height: 40px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    right: -165px;
    bottom: 5px;
}
#typeaddress{
    width: 300px;
    height: 40px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    right: -165px;
    bottom: 5px;
}
/* .sig{
    position: relative;
  right: 5px;
  top: 10px;
  width: 700px;
  height: 75px;
  background-color: skyblue;
  border-radius: 10px ;
} */

#signupbutton{
    position: relative;
    font-family: Tahoma;
    font-size: large;
    width: 160px;
    height: 40px;

    color: black;
    position: relative;
    right: -245px;
    top: 0px;
    border-radius: 20px;
    font-weight: bolder;
    background-color:white;
    cursor: pointer;
}
.holder{
    display: flex;
    flex-direction: row;
}

.contactForm{
    position: relative;
   top: 0px;
    width: 1520px;
    height: 600px;
    background-color: bisque;
}
.line{
    height: 400px;
    width: 2px;
    background-color: skyblue;
    position: relative;
    top: -500px;
    left: 730px;
  }
  .dancingTextDiv{
    max-width: 600px;
    
  
    
  }
  #dancingText{
   width: full;
  position: relative;
  bottom: 800px;
  left: 760px;
  color: black;
  }
